body{
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    transition: background-color 0.6s ease;
    font-family: Arial;
}
        

#box{
    margin-top: 30px;
}

button{

    margin-top: 30px;
    padding: 12px 25px;
    font-size: 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;   
}
button:hover{
    transform: scale(1.1);
}
